# Ignore everything
*

# But not these:
!.gitignore

# Allow custom-tables in plugins folder and its content
!plugins/
!plugins/custom-tables/
!plugins/custom-tables/**/*

# Allow the specific theme folder and its content
!themes/
!themes/adminiral-block-theme/
!themes/adminiral-block-theme/**/*